<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://samplefunction123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cc587ec3-5b25-4de6-bcf9-70757304e0c3/resourceGroups/Cloud_skeleton/providers/Microsoft.Web/sites/samplefunction123</ResourceId>
    <UserName>$samplefunction123</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://samplefunction123.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>